body {
  padding-top: 50px;
}
.intro {
  padding: 40px 15px;
  text-align: center;
}

.intro h1 {
  margin-bottom: 40px;
}

.url_data {
  margin-top: 60px;
  text-align: center;
}

.url_data h2 {
  font-size: 25px;
}